<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Spring Boot CRUD Example</title>
    <link href="../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/books}" method="get" class="form-inline" style="margin-bottom:10px">
        <input id="txtSearch" class="form-control" style="margin-right:5px" type="text" name="keyword"
               placeholder="Book,Author or Book Series Name, ISBN">
        <button type="submit" class="btn btn-success">Search</button>
    </form>

    <div class="row"  style="margin-bottom:20px;">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">All Books</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="btn-success">
                            <th>Book Title</th>
                            <th>Book Sub Name</th>
                            <th>Book Series Name</th>
                            <th>Author Name</th>
                            <th>Publisher Name</th>
                            <th>ISBN</th>
                            <th>Explanation</th>
                            <th>Operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(allBooks)}" class="btn-warning">
                            <td colspan="8" align="center">No Book Info Registered Yet!!!</td>
                        </tr>
                        <tr th:each="book : ${allBooks}">
                            <td th:text="${book.bookName}"></td>
                            <td th:text="${book.bookSubName}"></td>
                            <td th:text="${book.bookSeriesName}"></td>
                            <td th:text="${book.autName}"></td>
                            <td th:text="${book.pubName}"></td>
                            <td th:text="${book.isbn}"></td>
                            <td th:text="${book.explanation}"></td>
                            <td align="center">
                                <a th:href="@{/book/edit/{id}(id=${book.id})}"><span>Update</span></a> &nbsp  &nbsp;
                                <a th:href="@{/book/delete/{id}(id=${book.id})}"><span>Delete</span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-6">

            <!-- Save Alert Messages -->
            <div th:if="${saveBook eq 'unsuccess'}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Error!</strong> Book Data Not Saved.
                </div>
            </div>
            <div th:if="${saveBook eq 'success'}">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <strong>Success!</strong> Book Data Saved Successfully.
                </div>
            </div>

            <!-- Deletion Alert Messages -->
            <div th:if="${deletion eq 'unsuccess'}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Error!</strong> Book Data Not Deleted.
                </div>
            </div>
            <div th:if="${deletion eq 'success'}">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <strong>Success!</strong> Book Data Deleted Successfully.
                </div>
            </div>

            <!-- Edit Alert Message -->
            <div th:if="${status eq 'notfound'}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Error!</strong> Invalid Book.
                </div>
            </div>
            <div th:if="${edit eq 'unsuccess'}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Error!</strong> Book Data Not Edited.
                </div>
            </div>
            <div th:if="${edit eq 'success'}">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <strong>Success!</strong> Book Data Edited Successfully.
                </div>
            </div>

            <div class="panel-footer" style="margin-bottom:20px">
                <a th:href="@{/}" class="btn btn-success">Back To Main Menu</a>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Book</h3>
                </div>
                <div class="panel-body">
                    <form th:object="${book}" th:action="@{/book/save}" action="#" method="post">
                        <input type="text" th:field="*{bookName}" class="form-control"
                               placeholder="Book Name" required/>
                        <div style="clear:both; display:block;height:10px;"></div>
                        <input type="text" th:field="*{bookSubName}" class="form-control"
                               placeholder="Book Sub Name" required/>
                        <div style="clear:both; display:block;height:10px;"></div>
                        <input type="text" th:field="*{bookSeriesName}" class="form-control"
                               placeholder="Book Series Name" required/>
                        <div style="clear:both; display:block;height:10px;"></div>
                        <input type="text" th:field="*{autName}" class="form-control"
                               placeholder="Author Name" required/>
                        <div style="clear:both; display:block;height:10px;"></div>
                        <input type="text" th:field="*{pubName}" class="form-control"
                               placeholder="Publisher Name" required/>
                        <div style="clear:both; display:block;height:10px;"></div>
                        <input type="text" th:field="*{isbn}" class="form-control"
                               placeholder="ISBN" required/>
                        <div style="clear:both; display:block;height:10px;"></div>
                        <input type="text" th:field="*{explanation}" class="form-control"
                               placeholder="Explanation" required/>
                        <div style="clear:both; display:block;height:10px;"></div>
                        <input type="submit" class="btn btn-danger pull-right" value="Save">
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>